
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.clock {
  font-size: 80px;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.red {
  color: red;
}

.green{
  color: green;
}